<html>
	<head>
		<title>{{.title}}</title>
		<style>
			table {
			  border-collapse: collapse;
			}
			table, tr, td, th {
				border: 1px solid black;
			}
			td, th {
				padding: 5px;
			}
		</style>
	</head>
	<body>
		<h1>{{.title}}</h1>
		<hr>
		{{.body}}
	</body>
</html>